# Gitignore settings for ESPHome
# Source: https://github.com/esphome/esphome/blob/dev/tests/.gitignore
/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
/secrets.yaml

.vscode
